<div class="slideshow-container">
  <div class="slide fade">
    <img src="<%= asset_path 'carousel/golden-gate-bridge.jpg' %>" alt="Golden Gate Bridge">
  </div>
  <div class="slide fade">
    <img src="<%= asset_path 'carousel/group-dinner.jpg' %>" alt="Group dinner with wine">
  </div>
  <div class="slide fade">
    <img src="<%= asset_path 'carousel/group-hike.jpg' %>" alt="Hiking through the redwood forest">
  </div>
  <div class="slide fade">
    <img src="<%= asset_path 'carousel/group-snack-and-tea.jpg' %>" alt="Group having a snack with tea">
  </div>
</div>