<body>
  <%= render "shared/navbar" %>
  <%= yield %>
</body>

<div class="container">
  <section class="header">
    <h1>About Lorna Randlett</h1>
    <p class="subtitle">A little bit about who I am and why I started The Well</p>
  </section>

  <section class="photo-contact">
    <div class="photo">
      <%= image_tag "Randlett-Family-Photo.jpg", alt: "Randlett Family Photo", class: "profile-photo" %>
    </div>
    <div class="contact-links">
      <h3>Lorna Randlett</h3>
      <p>Email: <a href="mailto:your.email@example.com">your.email@example.com</a></p>
      <p>
        | <a href="https://www.eventbrite.com/" target="_blank" rel="noopener noreferrer">Eventbrite</a> |
      </p>
    </div>
  </section>

  <section class="bio">
    <p class="font-size-body">
      Lorna Randlett is the Founder and Executive Director of the Leader’s Forum, a C-suite executive think tank engaged in public policy. 
    </p>
    <p class="font-size-body">
      She is a previous Commissioner for the White House Initiative for Asian American Pacific Islanders. She is the mother / co-parent with her husband to - two stepchildren - now in their 20s and two teenagers. For many years, she was working in executive and top corporate environments while co- parenting / juggling all 4 who were under 10 years old.
    </p>
    <p class="font-size-body">
      Lorna was a former web anchor at Yahoo! and also a strategic communications specialist and external relations manager for the global management consulting firm, McKinsey & Company. Served the Advanced Industries, Knowledge, Strategy, Public Sector, Infrastructure, Higher Education & Social Sector practices, specializing in client relationships and management in high profile C-suite client events.
    </p>
  </section>

  <section>
    <h2>Mission</h2>
    <p class="font-size-body">
      Lorna is a deep believer in the power of human connection, effective leadership, and making a positive impact for others.
    </p>
  </section>

  <section>
    <h2>Outside of The Well LF</h2>
    <p class="font-size-body">
      Lorna runs enrichment experiences and learning opportunities for Asian American and Pacific Islander leaders throught Leaders Forum.  She is also a member of the national Smithsonian SITES Advisory Board and has also served on the C-4 Board of Planned Parenthood of Northern California and the Library Commission in San Francisco.
    </p>
    <p class="font-size-body">
      She is enjoying raising children #5-7 - two cats and  a 140 pound great Dane.  She also likes creating thoughtful and meaningful connection spaces for other families and guests at the 2 homes she shares with her own family.
    </p>
  </section>

</div>
