<body>
  <%= render "shared/navbar" %>
  <%= yield %>
</body>

<div class="container">
  <section class="intro">
    <h1>About The Well</h1>
    <p class="font-size-body">
      Throughout history, the water well has served as both a vital source of life and community gathering across the world.
    </p>
    <p class="font-size-body">
      The centralized placement and open design for social interaction made the well a place where people were drawn to - for conversation, support, and the sharing of the human experience.
    </p>
    <p class="font-size-body">
      In that same spirit, Leaders Forum - a national non-profit focusing on fostering impactful leadership, has created <strong>The Well LF</strong> to meet the challenges of an increasingly complex and changing society.
    </p>
    <p class="font-size-body">
      It is a place of respite, reflection, and relaxation for women and mothers as leaders of their families to recharge their own batteries and reset their own capacity and fulfillment. 
    </p>
  </section>

  <section class="locations">
    <h2>Locations</h2>
    <p class="font-size-body">
      San Francisco, CA
    </p>
    <p class="font-size-body">
      Mill Valley, CA
    </p>
  </section>

</div>
