<% content_for :title, "New post" %>

<div class="container">

  <h1>New post</h1>

  <%= render "form", post: @post %>

  <br>

  <div class="back-to-home">
    <%= link_to 'Back to Home', root_path, class: "btn-custom-outline" %>
  </div>

</div>